
/*primeros elementos*/

html, body {
    height: 100%;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

img {
    border: none;
}

p {
    text-align: justify;
}

/*Layout*/

#container {
    width: 1080px;
    margin: 0 auto;
}

.logo {
    margin: 10px;
    width: 280px;
}

.propa {
    margin: 8px;
    width: 250px;
}

nav ul {
    margin: 0;
    padding: 0;
}

    nav ul li {
        list-style: none;
        display: inline;
    }

        nav ul li > a {
            color: aliceblue;
            text-decoration: none;
            background-color: #9d9191;
            margin: 5px;
            padding: 5px;
            border-radius: 5px;
        }

header {
    display: block;
    background-color: #870632;
    padding: 5px 0px;
    margin-bottom: 5px;
}

section {
    background-color: #efb1b1;
    padding: 5px;
    overflow: auto;
    float: right;
    width: 75%;
}

aside {
    float: left;
    width: 24%;
    /*background-color: #808080;*/
}

footer {
    clear: both;
    position: relative;
    height: 40px;
    background-color: #870632;
    color: #fafafa;
}
