
@{
    ViewBag.Title = "Acerca de..";
}
<h2>ADIDAS</h2>

<div id="siteHeader">
    <p>Adidas AG es una compañía multinacional alemana fundada en 1949 dedicada a la fabricación de calzado, ropa deportiva y otros productos relacionados con el deporte y la moda (bolsos, camisas, relojes, anteojos, etc.), y patrocinadora de eventos y figuras deportivas a nivel mundial. Adidas es el segundo mayor fabricante de artículos deportivos del mundo después de Nike.</p>
    <p>Es uno de los mayores proveedores de material deportivo,1​ con unos ingresos que superan los 14 534 millones de dólares estadounidenses y un total de aproximadamente 60 000 empleados.1​ La marca tiene un valor de 6 800 millones de dólares estadounidenses, lo que la convierte en la segunda marca más valiosa entre las corporaciones deportivas.</p>
    <h3>Historia</h3>
    <p>La empresa Adidas, fundada en enero de 1949, tiene sus orígenes en las empresas previas de la familia Dassler: la llamada «Gebrüder Dassler Schuhfabrik», fundada a principios de la década de 1920 en Alemania por Adolf Dassler junto con su hermano Rudolf Dassler. Confeccionaban zapatillas y pantuflas sin marca adquirida, y también calzado con clavos para deportistas. Adi era el artista introvertido y Rudi el encargado de relaciones públicas. Ambos lograron colocar sus productos en el equipo alemán de atletismo. Pero el golpe maestro fue fichar a Jesse Owens, el atleta que deslumbró en los Juegos Olímpicos de Berlín 1936. Ese año, Dassler persuadió al velocista estadounidense para usar sus clavos hechos a mano en los Juegos Olímpicos. Después de las cuatro medallas de oro de Owens, el nombre y la reputación de los zapatos Dassler se hicieron conocidos por los deportistas del mundo y sus entrenadores. Los negocios tuvieron éxito y los Dassler vendían 200 000 pares de zapatos cada año antes de la Segunda Guerra Mundial.</p>

    <h2>Adidas Originals</h2>
    <p> El superstar es una zapatilla deportiva de baloncesto estilo low-top fabricado desde 1969 por la compañía de artículos deportivos Adidas. La zapatilla Superstar originalmente fue lanzada como una versión low-top del tenis de baloncesto Pro Model.1​ Se le conoció como "pezuña de camello (camel toe)", "puntas de concha (shelltoe)", "zapatos de concha (shell shoes)", "tops de concha (shell tops)" y "conchas marinas (sea shells)" .</p>
    <img class="adidasUno" src="~/Content/IMG/adidas1.jpg" alt="Logoadidastrebol" />

    <h2>Tienda de Adidas en Canadá</h2>
    <img class="adidasDos" src="~/Content/IMG/adidas2.jpg" alt="Tienda Adidas" />
</div>