@{
    ViewBag.Title = "Contact";
}
<h2>Contacto ADIDAS</h2>
<h3>Datos de Contacto</h3>
<ul>
    <li><span>Nombre:</span> ADIDAS</li>
    <li><span>Dirección:</span> Av. Cordoba 5874</li>
    <li><span>Teléfono:</span> 4-4548-3232</li>
</ul>