@{
    ViewBag.Title = "Acerca de...";
}
<h2>Lenguajes de Programacion para la Administracion</h2>

<h1>Info de la Materia</h1>

<div id="SiteHeader">
    <ul>
        <li>LPPA</li>
        <li><span>Profesor:</span> Victor Contreras</li>
        <li><span>Editorial:</span> UAI</li>
        <li><span>Sede</span> UAI - NORTE</li>
    </ul>

    <h2>Descripcion del Libro o materia</h2>
    <p>
        Que los alumnos conozcan los diferentes sistemas de información de las empresas, observando, analizando y relacionado conceptos, de modo tal que el estudiante pueda crear aplicaciones Web asegurando la usabilidad y accesibilidad de tales aplicaciones de acuerdo con los estándares de calidad y eficiencia.
    </p>
    <p>
        Conceptos de red. Red informática. Elementos de Hardware y Software que intervienen en una red.
        Concepto de arquitecturas de software y desarrollo en capas. Concepto de software cliente. Concepto de “Thin and Fat Client”. El rol de los componentes en las arquitecturas “web enabled”. Concepto de webservices. Rol de la W3C y OMG en la definición de estándares.
        Fundamentos de protocolos específicos de Sistemas Distribuidos: GIOP (General Inter.-Orb Protocol), IIOP (Internet Inter.-Orb Protocol) HTTP-GET. HTTP-POST UDDI (Universal Description Discovery and Integration Registry) WSDL (Web Service Description Language).SOAP(Simple Object Access Protocol) Alternativas a HTTP y SOAP: XML-RPC: Alternativas a WSDL:RDF(Resource Description FrameWork) DAML(DARPA Agent MarkupLanguage). Alternativa a UDDI:WS-InspectionLanguage (Microsft – IBM). Fundamentos de Computación en la Nube y su relación con Big Data. Fundamentos de Web2 y software colaborativo, redes sociales y groupware.
    </p>

    <p>
        Tipos de inputs: atributos y elementos.
        API Forms: métodos, atributos y eventos.
        API Canvas(creación de aplicaciones gráficas): métodos y propiedades.
        API Drag&Drop (aplicaciones que incorporan la capacidad de arrastrar y soltar): propiedades, eventos y métodos.
        API Geolocation (ubicación física de un dispositivo móvil): métodos y objetos
        APÌ WebStorage (almacenamiento para acceso rápido o para trabajar desconectado): mecanismos, métodos, propiedades y eventos.
        4
        API IndexDB (para trabajar en interfaces): interfaces Environment, Database, ObjectSore, etc...
        API File (para crear, leer, y procesar archivos): interfaces Blob, File, FileReader, LocalFileSystem……etc.
        API Communication: API XmlHTTPRequest Level2, API WebMessging, API WEBSocket.
        API WebWorkers (multiprocesamiento en JavaScript): claseDeDicatedWorkers y SharedWorkers, métodos y eventos.
        API History (historial de la sesión): propiedades, métodos y eventos.
        API Offline (creación de cache): archivo MANIFIESTO, propiedades, eventos y métodos.
        Ventajas de HTML5.
    </p>
    <p>
        Conceptos clave de CSS: principios de cascada, herencia y especifidad.
        Ubicación del CSS: Hojas externas, estilos embebidos y estilos en línea.
        Funcionalidades font-face, Colores enriquecidos. Consultas multimedia. Selectores enriquecidos. Transiciones y transformaciones CSS.
        Propiedades: box-shadow, text-shadow, box-sizing y border-radius.
        Múltiples imágenes de fondo: opciones de background-image
        Propiedades shorthand. Herencia. Pseudoelementos y pseudoclases.
        Multicolumna, bordes, fondos, gradientes lineal y radial, propiedades de interfaz. Opciones de animación.
    </p>

</div>
